*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: Roboto;
}

.pfont-increase{
    font-size: 18px;
}


.nav-bar{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.logo-text {
    color: #F9FAf8;
    font-size: 28px;
    font-weight: 900;
}
.nav-bar ul{
    color:#E5E7EB;
    display: flex;
    gap: 25px;
}

.header-li li{
    list-style: none;
    font-size: 22px;
}

/* Next section */

.hero-section{
    display: flex;
    background-color: #1F2937;
    color:#E5E7EB;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 75px;    
    padding: 30px 50px;
}
s
.hero-section div{
    max-width: 500px;
}

img{
    max-width: 100%;
    display: block;
}

.hero-left{
    flex-shrink: 1.60;
    max-width: 550px;
}

.image-holder{
    color: white;
    width: 500px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

.hero-left button{
    border: none;
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

h1.hero-maintext{
    color: #F9FAf8;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 5px;
}

/* another section */

.content{
    background-color: white;
}

.image-list{
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

.content-img-container{
    border: solid 3px #3882f6; 
    border-radius: 20px;
    height: 200px;
    width: 200px; 
    flex-shrink: 0;
    
}

.content-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 10px 10px;
}


.img-subtxt{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: 315px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.content-top h2{
    font-size: 34px;
    font-weight: 900;
    margin: 15px 0px;
}

