*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: Roboto;
}

.nav-bar{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

ul li{
    list-style: none;
}

.logo-text {
    color: #F9FAf8;
    font-size: 24px;
    font-weight: 900;
}

.nav-bar ul{
    color:#E5E7EB;
    display: flex;
    gap: 25px;
}